* {
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: white;
}

label {
  color: white;
  font-size: 25px;
}

#prijavi-se-forma{
  margin-top: 50px;
  width: 900px;
  margin-left: 510px;
}

#sf-pr, #chck{
  margin-top: 20px;
  font-size: 55px;
}

.sf{
  margin-bottom: 20px;
}

#prvbtn{
  margin-top: 10px;
  font-size: 25px;
  width: 300px;
  margin-left: 20px;
}

.podaci{
  margin-top: 50px;
  color: white;
}

.podaci h3 {
  font-size: 40px;
}